.priceFilter-container {
    width: 200px;

    position: relative;
}

.priceFilter-head {
    border: none;
    border-bottom: 2px solid rgb(197, 197, 197);
    margin-bottom: 10px;
}


.priceFilter-title {
    width: 100px;
    margin: 0;
    text-align: center;
    font-family: var(--ff-secondary-font);
    font-size: var(--fs-500);
    background-color: var(--secondary-background-clr);

    transform: matrix(1, 0, 0.176327, 1, 0, 0);
}

.priceFilter-list{
    padding: 10px 15px;

    display: flex;
    flex-direction: column;

    border: 1px solid var(--secondary-background-clr);
    border-radius: 10px; 
}
.priceFilter-pricerange{
    display: flex;
    align-items: baseline;

    gap: 10px;
}
.priceFilter-checkbox{

}
.priceFilter-label{

}