.priceFilter-container {
    width: 90%;
    position: relative;
}

.priceFilter-head {
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(197, 197, 197);
    margin-bottom: 10px;
}


.priceFilter-title {
    width: 100px;
    margin: 0;
    padding: 5px 0;
    text-align: center;

    font-size: var(--fs-600);
    font-style: italic;

    transform: skew(15deg);
    background:  var( --secondary-background-clr);

    text-transform: uppercase;
    color: var(--secondary-text-color);
    letter-spacing: 1px;
}

.priceFilter-list{
    padding: 20px 50px;


    display: flex;
    flex-direction: column;
    gap: 10px;

    border: 1px solid var(--secondary-background-clr);
    border-radius: 10px; 
}
.priceFilter-pricerange{
    display: flex;
    align-items: center;

    gap: 10px;
}
.priceFilter-checkbox{
    padding-left: 10px;
}
.priceFilter-label{
    margin: 0;
    font-size: var(--fs-400);
}
.priceFilterDropDown{
    background: var(--secondary-background-clr);
    color: white;
    font-size: 20px;
    line-height: 40px;
    border-radius: 10px;
    padding-top: 0;
    padding-bottom:0 ;
}
.priceFilter-pricerangeDropDown{
    padding-left: 10px;

}