.typeFilterAll-container {
    width: 90%;
    position: relative;
}

.typeFilterAll-head {
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(197, 197, 197);
    margin-bottom: 10px;
}

.typeFilterAll-title {
    width: 100px;
    margin: 0;
    padding: 5px 0;
    text-align: center;

    font-size: var(--fs-600);
    font-style: italic;

    transform: skew(15deg);
    background: var(--secondary-background-clr);

    text-transform: uppercase;
    color: var(--secondary-text-color);
    letter-spacing: 1px;
}

.typeFilterAll-list {
    padding: 15px 10px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    border: 1px solid var(--secondary-background-clr);
    border-radius: 10px;

    padding-left: 30px;
}

.typeFilterAll-item-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.typeFilterAll-text {
    margin: 0;
    border: none;
    background: none;

    font-size: var(--fs-500);
    color: var(--primary-text-color);
}


.typeFilterAll-subitemlist {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.typeFilterAll-subitem {
    display: flex;
    align-items: center;
    gap: 8px;
}

.typeFilterAll-notebookAll,
.typeFilterAll-calendarAll{
    display: flex;
    align-items: center;
    gap: 8px;
}

input[type="checkbox"] {
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -moz-focusring: none;

    /* create custom checkbox appearance */
    display: inline-block;
    width: 18px;
    height: 18px;

    /* background-color only for content */
    border: 0.5px solid rgb(186, 186, 186);
    border-radius: 50%;

    background-clip: content-box;
    background-color: var(--primary-background-clr);

    cursor: pointer;

    &:hover {
        background:
            linear-gradient(to bottom right, hsl(var(--main-color-code)/0.5), rgb(253, 253, 253)) padding-box;
        border: 1.5px solid rgb(186, 186, 186);
    }

    &:checked {
        border: none;
        background-clip: padding-box;
        background-image: url('/public/assets/image/extra/icon-check.svg'), linear-gradient(to bottom right, hsl(var(--main-color-code)/1), rgb(253, 253, 253));
        background-position: center;
        background-repeat: no-repeat;
    }

    &:focus,
    &:focus-visible {
        outline: none;
    }
}

.typeFilterAll-typename {
    margin: 0;
    font-size: var(--fs-400);
}
/* * Responsive ************************************************************************************

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (max-width: 1200px) {
    
} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (max-width: 992px) {
   
} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (max-width: 768px) {
    .typeFilterAll-item-container  {
        display: none;
    }
} */
.typeFilterbtn{ 
    background: var(--secondary-background-clr);
    color: white;
    font-size: 20px;
    line-height: 40px;
    border-radius: 10px;
}
.typeFilterSubmenu{
    border: 0.5px solid rgb(186, 186, 186);
    border-radius: 10px;
    font-size: 15px;
    padding-left: 10px;
}