.typeFilter-container {
    width: 200px;

    position: relative;
}

.typeFilter-head {
    border: none;
    border-bottom: 2px solid rgb(197, 197, 197);
    margin-bottom: 10px;
}

.typeFilter-title {
    width: 100px;
    margin: 0;
    text-align: center;
    font-family: var(--ff-secondary-font);
    font-size: var(--fs-500);
    background-color: var(--secondary-background-clr);

    transform: matrix(1, 0, 0.176327, 1, 0, 0);
}

.typeFilter-list {
    padding: 10px;

    display: flex;
    flex-direction: column;

    border: 1px solid var(--secondary-background-clr);
    border-radius: 10px; 

}

.typeFilter-item-container {
    width: 100%;
    display: flex;
}

.typeFilter-text {
    text-decoration: none;
    font-family: var(--ff-secondary-font);
    font-size: var(--fs-300);
    color: var(--primary-text-color);
}
.typeFilter-text:hover {
    text-decoration: none;

}

.typeFilter-icon::after {
    width: 20px;
    height: 20px;

    content: "\f107";
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    align-content: center;

    color: #aaaaaa;

    align-self: end;
    position: absolute;
    right: 0;

    text-align: center;
}
.typeFilter-subitem{
    display: none;
    padding-left: 10px;

    
}

.typeFilter-item-container:hover+.typeFilter-subitem,
.typeFilter-subitem:hover{
    display: block;
    display: flex;
    flex-direction: column;
}