.footerInfoContainer{
    width: 80%;
    height: 100%;
    margin: auto;

    display: flex;
}

/* ** Logo footer container *******************/
.logoFooter{
    width: 40%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;

}

.logoFooter_logo{
    width: 360px;
}

.logoFooter_fanPage{
    width: 360px;

    display: flex;
    justify-content: center;
    gap: 50px;
}
.logoFooter_fanPage-icon{
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.logoFooter_groupName,
.logoFooter_class,
.logoFooter_address{
    width: 400px;
    font-size: var(--fs-400);
    padding-left: 20px;

}

/* ** Information footer container *******************/
.infoFooter{
    width: 60%;
    height: 100%;

    display: flex;
    justify-content: space-around;
}

.infoFooter_aboutUs,
.infoFooter_products{
    width: 50%;
    height: 100%;
    padding: 50px;

    font-size: var(--fs-500);

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.infoFooter_aboutUs-title,
.infoFooter_products-title{

    color: var(--active-text-color);

}

.infoFooter_aboutUs-list,
.infoFooter_products-list{
    list-style-type:none;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.infoFooter_products-item,
.infoFooter_aboutUs-item{
    font-size: var(--fs-400);
    cursor: pointer;
    transition: 0.1s;
}

.infoFooter_products-item:hover,
.infoFooter_aboutUs-item:hover{
    border-left: 4px solid var(--secondary-background-clr);
    padding-left: 10px;
}
