.servicesContainer {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
   
}

.delivery,
.support,
.exchange_return,
.standardPrice {
    width: 240px;
    display: flex;
    align-items: center;
}

.servicesImage{
    width: 60px;
    height: 60px;

    transition: 0.3s;
    transform: rotateY(0deg);
    /* background-color: aquamarine; */


}

.delivery:hover>.servicesImage,
.support:hover>.servicesImage,
.exchange_return:hover>.servicesImage,
.standardPrice:hover>.servicesImage{
    transform: rotateY(360deg)

}


.servicesName {
    width: 180px;
    height: 60px;
    padding-left: 20px;
    align-content: center;
    color: var(--secondary-text-color);
}