.checkout-cart {
    width: 33.3333%;
    height: fit-content;
    padding: 20px;

}

.checkout-cart-container {
    background-color: hsl(var(--main-color-code) / 0.05);
    border: 1px solid hsl(var(--main-color-code) / 0.5);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;
}

.checkout-cart-header>h2{
    font-size: var(--fs-700);
    font-weight: bold;
}
/* Checkout cart body *************************************** */
.checkout-cart-body {
    width: 100%;
    max-height: 500px;
    overflow: auto;

    width: 100%;
    max-height: 390px;

    margin-bottom: 20px;
    overflow: auto;

    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;


    /* width */
    &::-webkit-scrollbar {
        width: 5px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: var(--secondary-background-clr);
    }
}

.checkout-cart-product {
    width: 100%;
    padding: 10px 0;

    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid rgb(201, 201, 201);
}

.checkout-cart-item-col1 {
    position: relative;
}

.checkout-cart-item-imagebg {
    margin: 0;
    width: 70px;
    height: 70px;

    background-color: rgb(230, 238, 237);
    display: flex;
}

.checkout-cart-item-image {
    height: 50px;

    position: relative;
    margin: auto;
}

.checkout-cart-item-qty {
    width: 20px;
    height: 20px;
    text-align: center;
    align-content: center;
    font-size: var(--fs-100);
    background-color: var(--secondary-background-clr);
    color: white;
    border-radius: 10px;

    position: absolute;
    top: -10px;
    right: -10px;

}

.checkout-cart-item-col2 {
    width: 210px;
    padding-left: 15px;
    align-content: center;
}

.checkout-cart-item-name {}

.checkout-cart-item-col3 {
    width: 60px;
    text-align: center;
    align-content: center;
}

.checkout-cart-subtotal {}

/** Cart footer ****************************** */
.checkout-cart-footer {
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;


    border-top: 1px solid grey;
}

.checkout-cart-footerrow1,
.checkout-cart-footerrow2,
.checkout-cart-footerrow3 {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    font-size: var(--fs-400);
    font-weight: 600;
}

.checkout-cart-footerrow3 {
    border-top: 1px solid grey;
    font-size: var(--fs-600);
}

.checkout-cart-totalPrice,
.checkout-cart-totalPrice1 {
    color: red;
    font-weight: bold;
}

.checkout-cart-button {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 10px;
}

.checkout-cart-order,
.checkout-cart-back {
    width: 250px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: var(--secondary-text-color);
    font-size: var(--fs-400);
    background-color: var(--secondary-background-clr);

    &:hover {
        background: var(--secondary-background-clr);
        opacity: 0.8;
    }
}

/** Responsive ************************************************************************************ */


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    .checkout-cart {
        padding: 5px;
    }
    .checkout-cart-order,
    .checkout-cart-back {
        font-size: var(--fs-200);
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .checkout-cart {
        width: 100%;
        min-height: fit-content;
        order: 1;

        padding: 30px 30px 0 30px;
    }
    .checkout-cart-totalPrice1{
        display: block;
    }
    .checkout-cart-container {
        margin: 0;
    }
    /* .checkout-cart-order,
    .checkout-cart-back {
        display: none;
    } */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {}