.checkout-info {
    width: 33.3333%;
    height: fit-content;
    padding: 20px;
}

.checkout-info-container{
    background-color: hsl(var(--main-color-code) / 0.05);
    border: 1px solid hsl(var(--main-color-code) / 0.5);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;
}

.checkout-info-container>h2{
    font-size: var(--fs-700);
    font-weight: bold;
    margin-bottom: 20px;
}
.checkout-info-input{
    border: 1px solid gray;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
.checkout-info-notes{
    border: 1px solid gray;
    width: 100%;
    min-height: 210px;
    padding: 10px 10px;
    border-radius: 5px;
}


/** Responsive ************************************************************************************ */


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    .checkout-info {
        padding: 5px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .checkout-info {
        width: 100%;
        min-height: fit-content;
        order: 2;

        padding: 30px 30px 0 30px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
   
}