.contactPageContainer {
    width: 1200px;
    padding-bottom: 50px;
    position: relative;
    padding: auto;
    margin: auto;
    background-color: hsl(var(--main-color-code) / 0.05);
    border: 1px solid hsl(var(--main-color-code) / 0.5);
    cursor: default;
}

.contactPageContainer_row1 {
    display: flex;
}
.contactPageContainer_row2 {
   width: 100%;
   height: 450px;
}

.contact_info,
.contact_comment {
    width: 50%;
    padding: 50px 30px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact_info-title,
.contact_comment-title{
    color: var(--active-text-color);
    font-size: var(--fs-900);
    font-weight: bold;
    text-align: center;

}

.contact_info-produce,
.contact_comment-produce{
    text-align: center;
    font-size: var(--fs-500);

}

.contact_info-address,
.contact_info-phone,
.contact_info-email {
    display: flex;
    gap: 25px;
    padding: 15px 20px;

   
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgb(164, 164, 164);

}

.contact_info-icon {
    width: 30px;
}

/* .contact_info-content {} */

.contact_info-content-title {
    font-size: var(--fs-500);
    color: var(--active-text-color);

}

.contact_info-content-content {
    font-size: var(--fs-500);
    color: black;
   
}
.contact_info-content-content:hover{
    color: var(--active-text-color);
   
}

/* .contact_comment{
    
} */

.contact_comment-form{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 5px;
}

.contact_comment-input,
.contact_comment-textarea{
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: 1px solid black;
    border-top: 2px solid black;
    border-left: 2px solid black;
    padding-left: 10px;
}

.contact_comment-input1{
    width: 48%;
}

.contact_comment-textarea{
    width: 100%;
    min-height: 150px;
}

.contact_comment-send{
    width: 100%;
    height: 40px;
    align-self: center;
    border-radius: 50px;
    border: none;
    font-size: var(--fs-400);
    color: var(--secondary-text-color);
    background-color: var(--secondary-background-clr);
}

/** Responsive ************************************************************************************ */


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    .contactPageContainer {
        width: 970px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .contactPageContainer {
        width: 750px;
   
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .contactPageContainer {
        width: 100%;
    }
    .contactPageContainer_row1 {
        display: flex;
        flex-direction: column-reverse;
    }
    .contact_info{
        width: 100%;
    }
    .contact_comment{
        width: 100%;
    }
    .contactPageContainer_row2 {
        display: block;
        width: 90%;
        height: 450px;
        margin: auto;
     }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
    .contactPageContainer {
        width: 100%;
    }
    .contactPageContainer_row1 {
        display: flex;
        flex-direction: column-reverse;
    }
    .contact_info{
        width: 100%;
    }
    .contact_comment{
        width: 100%;
    }
    .contactPageContainer_row2 {
        display: block;
        width: 90%;
        height: 450px;
        margin: auto;
    }
}
