.section-homepage-carousel{
    position: relative;
    z-index: 0;
}
.homepage-notebookCarousel-container{
    border: 1px solid red;

}.homepage-nextPrevButton{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 10px;
    height: 10px;
}
.homepage-productCard-carouselImgContainer{
    display: flex;
    max-height: 300px;

}
.homepage-productCard-carouselImg{
    object-fit: contain;
}