.homepage-productCard-price {
    color: rgb(255, 48, 48);
    font-size: var(--fs-500);
    /* font-weight:  */
}

.homepage-productCard-name {
    font-size: var(--fs-500);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.homepage-productCard {
    /* background: blue; */
    display: flex;
    max-width: 140px;
    max-height: 250px;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-width: 50px;
    margin: 0px;
    padding: 0;
}

.homepage-productCard-imgContainer {
    max-height: 180px;
    overflow: hidden;
    position: relative;

    /* background: red; */
    .productCard-button-container {
        /* display: none; */
        opacity: 0%;
        height: 30px;
        width: 100%;
        position: absolute;
        bottom: 20px;
        align-content: center;

    }

    .productCard-button1 {
        width: 30px;
        padding: 3px;
        border-radius: 5px;
        margin: 0px 2px;
    }
}

.homepage-productCard:hover {
    cursor: pointer;
    transition: all 0.3s;
    /* translate: -3px -3px; */
    box-shadow: 10px 10px 3px #dddddd;
    border-radius: 20px;
    background: rgb(248, 248, 248);

    .productCard-button-container {
        transition: all 1s;
        /* display: block; */
        opacity: 100%;
    }

    .homepage-productCard-img {
        filter: opacity(0.5);
    }
}

.productCard-button1:hover {
    transition: all 0.3s;
    background: rgb(200, 200, 200);
}

.homepage-productCard-img {

    max-width: 140px;
    max-height: 150px;
    min-width: 50px;
    min-height: 150px;
    object-fit: contain;
}