.homepage-productCard-price {
	color: rgb(255, 48, 48);
	font-size: var(--fs-500);
	/* font-weight:  */
}
.homepage-productCard-priceCarousel {
	color: rgb(255, 48, 48);
	font-size: var(--fs-700);
	/* font-weight:  */
}

.homepage-productCard-name {
	/* background: red; */
	max-width: 140px;
	font-size: var(--fs-500);
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	/* number of lines to show */
	line-clamp: 1;
	-webkit-box-orient: vertical;
}
.homepage-productCard-nameCarousel {
	width: 100%;
	font-size: var(--fs-700);
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	/* number of lines to show */
	line-clamp: 1;
	-webkit-box-orient: vertical;
}

.homepage-productCard {
	/* background: blue; */
	display: flex;
	max-width: 140px;
	max-height: 230px;
	min-height: 230px;
	justify-content: center;
	align-items: center;
	align-content: center;
	min-width: 50px;
	margin: 0px;
	padding: 0;
	cursor: default;
}

.homepage-productCard-imgContainer {
	max-height: 180px;
	overflow: hidden;
	position: relative;
	/* background: red; */
	.productCard-button-container {
		/* display: none; */
		opacity: 0%;
		height: 30px;
		width: 100%;
		position: absolute;
		bottom: 20px;
		align-content: center;
	}
	.productCard-button1 {
		width: 30px;
		padding: 3px;
		border-radius: 5px;
		margin: 0px 2px;
	}
}

.homepage-productCard:hover {
	cursor: pointer;
	transition: all 0.3s;
	/* translate: -3px -3px; */
	/* box-shadow: 10px 10px 3px #dddddd; */
	border-radius: 20px;
	background: rgb(240, 240, 240);
	box-shadow: 0px 0px 8px var(--secondary-background-clr);

	.productCard-button-container {
		transition: all 1s;
		/* display: block; */
		opacity: 100%;
	}

	.homepage-productCard-img {
		filter: opacity(0.5);
	}
}

.productCard-button1:hover {
	transition: all 0.3s;
	background: rgb(200, 200, 200);
}

.homepage-productCard-img {
	margin: auto;
	max-width: 130px;
	max-height: 130px;
	min-width: 130px;
	min-height: 130px;
	object-fit: contain;
}
.carousel-inner.carda {
	margin: auto;
	overflow: hidden;
	align-items: center;
	/* height: 500px; */
	object-fit: contain;
	width: 100%;
	.largeImg {
		min-height: 400px;
		max-height: 400px;
		object-fit: contain;
	}
}
.carousel-indicators.carda {
	width: 100%;
	height: 150px;
	padding: 5px;
	position: static;
	border: 2px solid gray;
	border-left: none;
	border-right: none;
	margin: 2px auto;
	display: flex;
	/* border: 8px solid red; */
	align-items: center;
	.thumbnail {
		height: fit-content;
		/* background: red; */
		width: 25%;
	}
	/* .carousel-control-next-icon,
	.carousel-control-prev-icon {
		filter: invert(30%);
	} */
	.thumbImg {
		max-height: 100px;
		object-fit: contain;
	}
	button.thumbnail {
		background: white;
		/* padding: 1px; */
		border-radius: 10px;
		box-shadow: 0 0 10px var(--secondary-background-clr);
	}
	button.thumbnail:not(.active) {
		transform: translateY(15px);
		opacity: 0.6;
		box-shadow: none;
	}
	button.thumbnail:hover {
		opacity: 1;
		z-index: 2;
		box-shadow: 0 0 10px var(--secondary-background-clr);
	}
}
.modal-priceTag {
	background: var(--secondary-background-clr);
	transform: skew(15deg);
	/* width: 100%; */
	width: fit-content;
	.modal-priceTag-text {
		transform: skew(-25deg);
		text-transform: uppercase;
		color: var(--secondary-text-color);
		letter-spacing: 1px;
	}
}
