.searchPage-container{
    width: 1200px;

    background-color: hsl(var(--main-color-code) / 0.05);
    border: 1px solid hsl(var(--main-color-code) / 0.5);
}
.searchPage-result{
    font-weight: 700;
    padding: 30px 0px;
   
}
.searchPage-searchlist{
    width: 100%;
    padding: 10px 30px;

    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    
}