.aboutUsContainer {
    width: 20%;

    display: flex;
    justify-content: center;
    gap: 10px;

}

.aboutUsIcon {
    width: 18%;
}

.aboutUsBtn {
    text-decoration: none;
    cursor: pointer;

    padding: 10px 10px;
    align-self: center;

    color: var(--primary-text-color);
    font-size: var(--fs-500);
    font-weight: bold;

    background: none;
    border: none;
}

.aboutUsBtn:hover {
    text-decoration: none;
    border-bottom: 4px solid var(--secondary-background-clr);
    color: var(--primary-text-color);

}

.aboutUsBtn[active="true"] {
    text-decoration: none;
    color: var(--active-text-color);
    border-bottom: 4px solid var(--secondary-background-clr);
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    .aboutUsBtn {
        font-size: var(--fs-300);
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .aboutUsContainer {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}