.aboutUsContainer{
    width: 20%;

    display: flex;
    justify-content: center;
    gap: 10px;

}

.aboutUsIcon{
    width: 18%;
}

.aboutUsBtn{

    text-decoration: none;
    cursor: pointer;

    color: var(--primary-text-color);
    font-size: var(--fs-400);

    font-weight: bold;

    background: none;
    border: none;
  
    align-self: center;
}
.aboutUsBtn:hover{
    text-decoration: none;
    color: var(--primary-text-color);

}
.aboutUsBtn[active = "true"]{
    text-decoration: none;
    color: var(--active-text-color);
    border-bottom: 3px solid var(--secondary-background-clr);
}