.menuContainer {
    width: 25%;
    height: 45px;

    border-radius: 7px;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    background-color: var(--secondary-background-clr);

}

.menuButton {
    width: 100%;
    height: 100%;
    padding-left: 5%;

    display: flex;
    align-items: center;
    gap: 10px;

    cursor: pointer;
}

.menuIcon {
    width: 10%;
    object-fit: contain;
}

.menuText {
    font-size: var(--fs-400);
    font-weight: 700;
    color: white;
    margin: 0;
}


/* Hover menu button to show menu detail */

#menuDetail {
    width: 100%;
    height: fit-content;
    padding-bottom: 20px;

    position: absolute;
    top: 44px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;

    display: flex;
    flex-direction: column;

    box-shadow: 2px 2px 8px rgb(185, 185, 185);
    display: none;
}

.menu-products-container {
    width: 100%;
    height: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: left;
    gap: 10px;


}

.menuTab {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
}

.tabLink,
.tabLink:hover {
    width: 100%;
    height: 100%;
    text-decoration: none;

    width: 80%;
    height: 100%;
    align-content: center;

    color: var(--primary-text-color);
    font-weight: bold;

    &:hover {
        text-decoration: none;
        color: var(--active-text-color);
    }

    &:active {
        text-decoration: none;
    }


}

.iconArrow {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

#menu-products-child-container {
    padding: 5px 15px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-products-child-tab {
    display: flex;
    gap: 10px
}

.menu-products-child {
    text-decoration: none;
    color: var(--primary-text-color);

    &:hover {
        text-decoration: none;
        color: var(--active-text-color);
    }

    &:active {
        text-decoration: none;
    }
}

/** Responsive ************************************************************************************ */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .menuContainer {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}