.navbarContainer {
    width: 55%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.navBarTab {
    display: flex;
    gap: 20px;
    margin: 0;

}



.navItem {
    font-family: var(--ff-primary-font);
    font-size: var(--fs-500);
    list-style: none;

    display: flex;
    flex-direction: column;

}

.navLink {
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-text-color);


    padding: 10px 10px;

}

.navLink:hover {
    text-decoration: none;
    color: var(--hover-text-color);

    border-bottom: 3px solid var(--secondary-background-clr);
}

.navLink[active="true"] {
    text-decoration: none;
    color: var(--active-text-color);
    border-bottom: 3px solid var(--secondary-background-clr);
}

/* ***************************************************************** */
.listType {
    text-decoration: none;
    visibility: hidden;
    position: absolute;
    top: 170px;
    padding: 15px;

    border-radius: 5px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    opacity: 0%;
    transition: 0.5s;
}

.navLink:hover+.listType,
.listType:hover {
    visibility: visible;
    width: 200px;
    height: fit-content;
    background: rgb(255, 255, 255);
    opacity: 100%;

}

.listType-item{
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: var(--fs-500);
}

.listType-item:hover{
    text-decoration: none;
    color: var(--active-text-color);
}



/** Responsive ************************************************************************************ */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    .navItem{
        font-size: var(--fs-300);
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .navbarContainer{
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
}


