.searchContainer {
    width: 55%;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */

}

.searchBox {
    width: 80%;
    height: 50px;
    /* border: 1px solid red; */
    align-content: center;

    position: relative;
    top: 10%;

}

.searchInput {
    width: 98%;
    height: 45px;
    padding-left: 20px;

    border: 2px solid var(--secondary-background-clr);
    border-radius: 10px;

    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

    font-size: var(--fs-300);

}

.searchInput:focus {
    border: 2px solid var(--secondary-background-clr);
    outline: none;
}

.searchButton {
    width: 50px;
    height: 100%;

    position: absolute;
    top: 0;
    right: 0;

    border: none;
    border-radius: 50%;
    background-color: var(--secondary-background-clr);
}

.searchImage {
    width: 40%;
    height: 40%;
}



/** Responsive ************************************************************************************ */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    
    .searchContainer{
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
}