.calendarWebStore{
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    align-items: center;

    font-family: var(--ff-laila-serif);
    font-size:  var(--fs-300);
    font-weight: 700;
}