/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* colors */
  --main-color:  #4586f7;
  /* --main-color:  #2f8872; */


  --primary-background-clr: white;
  --secondary-background-clr: var(--main-color);

  --primary-text-color: hsl(0, 0%, 0%);
  --secondary-text-color: hsl(0, 0%, 100%);
  --hover-text-color: hsl(0, 0%, 36%);
  --active-text-color: var(--main-color);

  
  /* font-sizes */
  --fs-900: 3.5rem;
  --fs-800: 3rem;
  --fs-700: 2.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.5rem;
  --fs-300: 1.25rem;
  --fs-200: 1.15rem;
  --fs-100: 1rem;

  
  /* font-families */
  --ff-laila-serif: "Laila", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;

}
*{
  margin:0;
  padding: 0;
}
