.newsPage-newsReadLot1 {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsPage-newsReadLot-name {
    width: 100%;
    text-align: center;
    font-size: var(--fs-900);
    color: var(--active-text-color);
    font-weight: bold;

    border-bottom: 3px solid var(--active-text-color);
    margin-bottom: 30px;
}

.newsPage-newsReadLot-container {
    display: flex;
    justify-content: space-around;
  
}

.newsPage-newsReadLot-newscard {
    width: 285px;
    height: 382.19px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
}

.newsPage-newsReadLot-nav {
    border: none;
    width: 95%;
    height: 185px;

    cursor: pointer;
    position: relative;
}

.newsPage-newsReadLot-img {
    width: 100%;
    height: 185px;
    object-fit: fill;
    border-radius: 10px;

}

.newsPage-newsReadLot-title {
    visibility: hidden;
    border: none;
    background-color: rgba(62, 62, 62, 0.6);

    padding: 5px 10px;

    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;

    text-align: left;
    color: var(--secondary-text-color);
    font-size: var(--fs-200);
}

.newsPage-newsReadLot-nav:hover>.newsPage-newsReadLot-title {
    visibility: visible;
}

.newsPage-newsReadLot-posted {
    width: 95%;
    padding: 0 5px;
    font-style: italic;
}

.newsPage-newsReadLot-content {
    width: 95%;
    padding: 0 5px;
    font-size: var(--fs-400);

}

/** Responsive ************************************************************************************ */


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    .newsPage-newsReadLot-newscard:last-child{
        display: none;
    }
    .newsPage-newsReadLot-newscard {
        width: 350px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .newsPage-newsReadLot-newscard:nth-child(3){
        display: none;
    }
}