.relatedNews {
    width: 100%;
}

.relatedNews-name {
    font-style: italic;
    font-size: var(--fs-700);
}

.relatedNews-container {
    width: 100%;
    
}

.relatedNews-newscard {
    height: fit-content;
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--secondary-background-clr);
}

.relatedNews-img{
    width: 100px;
    height: 80px;

    cursor: pointer;

    object-fit: fill;
    border-radius: 10px;
}

.relatedNews-content {
    height: 80px;
    padding-left: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.relatedNews-title {
    border: none;
    background: none;
    cursor: pointer;
    font-size: var(--fs-400);

    text-align: left;
}
.relatedNews-decription{
    display: none;
}
.relatedNews-desc {
    margin: 0;
    font-size: var(--fs-300);
}


/** Responsive ************************************************************************************ */


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
 
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .relatedNews-img{
        width: 200px;
        height: 150px;
    }
    .relatedNews-content {
        height: 150px;
    }
    .relatedNews-title {
        font-size: var(--fs-500);
    }
    .relatedNews-newscard {
        gap: 20px;
    }
    .relatedNews-decription{
        display: block;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

}